/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;500&display=swap");

/* common style  */
body {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}

h3 {
  padding-left: 120px;
  padding-top: 87px;
}

section {
  display: flex;
}

.half-width {
  width: 50%;
  padding: 120px;
}

.half-width img {
  width: 440px;
  height: 414px;
}
button {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  color: white;
  background-color: #e02c6d;
}

/* second section  */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: white;
  width: 1047px;
  height: 1662px;
  padding-left: 120px;
  margin-top: 80px;
}

/* third section  */

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.item .item-banner img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  font-size: 16px;
}

.fa-star.filled {
  color: #fb8200;
}
.fa-star.empty {
  color: #aeaeae;
}
#more {
  text-align: right;
}
