/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;500&display=swap");

/* common style  */
body {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}

h3 {
  padding-left: 120px;
  padding-top: 87px;
}

section {
  display: flex;
}

.half-width {
  width: 50%;
  padding: 120px;
}

.half-width img {
  width: 440px;
  height: 414px;
}
button {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  color: white;
  background-color: #e02c6d;
}

.animation:hover {
  color: lightslategray;
}

/* second section  */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: white;
  width: 1047px;
  height: 1662px;
  padding-left: 120px;
  margin-top: 80px;
}

/* third section  */

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.item .item-banner img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  font-size: 16px;
}

.fa-star.filled {
  color: #fb8200;
}
.fa-star.empty {
  color: #aeaeae;
}

/* Footer part Start Here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.items seemore {
  text-align: right;
  color: #e02c6d;
}

footer {
  background-color: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}
.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

/* footer part end  */
